# Expo
.expo/

# Dependencies
node_modules/

# Android
android/

# Build / cache
dist/
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# Firebase / Google config (sensible)
google-services.json
GoogleService-Info.plist

# Android signing keys
*.keystore
*.jks

# OS
.DS_Store
Thumbs.db

# IDE
*.log
npm-debug.log*
